:root{
    --main-color: #757575;
    --complementary-color: #212121;
    --rare-color: #ffffff;
    --logo-color: #000000;
    --bg-filter-color:  #F5F4FA;
    --accent-color: #2196F3;
    --bg-rare-color: #2F303A;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.active-page{
    color: var(--accent-color);
}
.link {
    text-decoration: none;
    color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
    list-style: none;
  }
  /* header */
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}
.logo-header{
    color: var(--logo-color);
}
.nav-list,
.contact-list{
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-list{
    color: var(--complementary-color);
}
/* hero-section */
.hero{
    background-color: var(--bg-rare-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--rare-color);
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--rare-color);
    background-color: var(--accent-color);
}
.hero-button:hover{
    background-color: #188CE8;
}
/* about-section */
.about-text{
    line-height: 1.71;
}
.about-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--complementary-color);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--complementary-color);
}

/* team-section */
.team-list{
font-size: 16px;
line-height: 1.18;
text-align: center;
}
.team-title{
    font-weight: 500;
    color: var(--complementary-color);
}
/* footer */
.footer{
    background-color: var(--bg-rare-color);
}
.address{
    line-height: 1.71;
    color: #FFFFFF;
}
.address-contacts{
    color: rgba(255, 255, 255, 0.6);
}
.logo-footer{
    color: var(--rare-color);
}

/* Оформление страницы "Портфолио" */
.filter-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--bg-filter-color);
    color: var(--complementary-color);
    cursor: pointer;
}
.active-filter{
    background-color: var(--accent-color);
    color: var(--rare-color);
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--complementary-color);
}
.project-text{
font-size: 16px;
line-height: 1.87;
}